/*Color Palette */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Landing Page */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #EEEEEE;
    border-bottom: 6px solid #E3CDE2;
    height: 45px;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.logo {
    max-height: 30px;
    margin-right: 10px;
    padding-right: 10px;
}

.company-name {
    text-decoration: none;
    color: #333333;
    font-size: 24px;
}

.navbar {
    display: flex;
    gap: 15px;
    padding-right: 150px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-size: 20px;
}

.navbar a:hover {
    color: #8E699C;
}

.subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8E699C;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 1px;
    height: 30px; /* Adjust height as needed */
}

/* Table styles */
main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-appointment-btn {
    padding: 10px 20px;
    background-color: #8E699C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.new-appointment-btn:hover {
    background-color: #E3CDE2;
}

.wide-input {
    width: 300px; /* Adjust width as needed */
}