/*Color Palette
#EEEEEE - Light Gray
#E3CDE2 - Light Pink
#8E699C - Purple
#333333 - Black
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #EEEEEE;
    border-bottom: 6px solid #E3CDE2;
    height: 45px;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.logo {
    max-height: 30px;
    margin-right: 10px;
    padding-right: 10px;
}

.company-name {
    text-decoration: none;
    color: #333333;
    font-size: 24px;
}

.navbar {
    display: flex;
    gap: 15px;
    padding-right: 150px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-size: 20px;
}

.navbar a:hover {
    color: #8E699C;
}

.navbar .logout-button {
    background-color: #8E699C;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar .logout-button:hover {
    background-color: #E3CDE2;
    color: #333;
}

.appointment-rectangle {
    background-color: #8E699C;
    color: #ffffff;
    width: 1707px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1; /* make it place right under the head */
    font-size: 24px;
}


/* search bar start */
.search-bar-container {
    display: flex;
    justify-content: center;
    margin: 58px auto 0; /* Add top margin for space between the rectangle and search bar */
}

.search-bar {
    width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #d9d9d9;
}

.search-bar::placeholder {
    color: #000000 50%; /* Light grey placeholder text */
    font-weight: 600;
}
/* search bar end */
