/*Color Palette
#EEEEEE - Light Gray
#E3CDE2 - Light Pink
#8E699C - Purple
#333333 - Black
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Landing Page */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #EEEEEE;
    border-bottom: 6px solid #E3CDE2;
    height: 45px;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.logo {
    max-height: 30px;
    margin-right: 10px;
    padding-right: 10px;
}

.company-name {
    text-decoration: none;
    color: #333333;
    font-size: 24px;
}

.navbar {
    display: flex;
    gap: 15px;
    padding-right: 150px;
    align-items: center; 
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-size: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.navbar #username{
    color: #333;
    font-size: 20px;
}

.dropdown-arrow{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 11px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
}

.navbar a:hover {
    color: #8E699C;
}

.navbar .login-button {
    background-color: #8E699C;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar .login-button:hover {
    background-color: #E3CDE2;
    color: #333;
}

.banner-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     filter: brightness(80%);
}

.banner-text {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
    top: 25%;
}

.banner-text h2{
    font-size: 67px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-text p {
    margin: 0;
    position: absolute;
    top: calc(100% + 20px);
    left: 33.5%;
    transform: translateX(-50%);
    text-align: left;
    font-size: 26px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.booknow {
    position: absolute;
    top: 200px;
    left: 9.6%;
    transform: translateX(-50%);
    z-index: 2;
}

.booknow img{
    filter: brightness(100%);
}

.services {
    margin: 0;
}

.services-container {
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}

.services-container p{
    font-size: 40px;
    text-align: left;
    font-weight: bold;
}

.rectangles-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0px 10px;
    background-color: #ffffff;
}

.rectangle {
    background-color: #E3CDE2;
    color: #333333;
    padding: 20px 40px;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rectangle-icon {
    margin-bottom: 20px;
    margin-top: 20px;
}

.rectangles-section a {
    display: block;
    text-decoration: none;
}

.rectangle span{
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    justify-content: center;
    font-weight: bold;
}

.rectangle b{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    height: 50px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
}

.footer .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.footer .footer-container p {
    margin: 0;
    color: white;
}

/* Login Page */
.login-container {
    display: flex;
    height: calc(100vh - 71px);
    overflow: hidden;
    background-color: #EEEEEE;
}

.poster-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-right: 20px;
}

.poster {
    max-height: 100vh;
    width: auto;
}

.login-box-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 290px;
}

.login-box {
    width: 400px;
    max-width: 400px;
    padding: 10px 70px;
    background-color: #E3CDE2;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto; 
}

.login-box h3{
    font-size: 20px;
}

.login-box h1 {
    margin: 10px 0;
    font-size: 36px;
}

.login-box .button {
    display: block;
    width: 40%;
    margin: 20px auto;
    padding: 10px 30px;
    border: none;
    background-color: #EEEEEE;
    color: #333333;
    cursor: pointer;
    border-radius: 20px;
    font-size: 36px;
    text-decoration: none;
    text-align: center;
}

.login-box .button:hover {
    background-color: #8E699C;
    color: #EEEEEE;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .login-box .userlogin-button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #8E699C;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px auto;
    text-align: center; 
  }
  
  .login-box a {
    display: block;
    text-align: center;
    color: #0066FF;
    text-decoration: none;
    padding-top: 10px; 
  }

  .login-box h2 {
    margin: 20px 0;
    font-size: 36px;
}

.login-box .usersignup-button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #8E699C;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px auto;
    text-align: center; 
  }

.navbar #username{
    color: #333333;
  }

/* Update Personal Details */
  .personal-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.personal-box {
    background-color: #E3CDE2;
    padding: 60px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 {
    text-align: center;
    padding-bottom: 30px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
form div {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.full-width {
    grid-column: span 2;
}

.gender{
    display: flex;
}

.gender .radio-options{
    display: block;
} 

.buttons {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttons button:first-child {
    background-color: #e74c3c;
    color: white;
}

.buttons button:last-child {
    background-color: #2ecc71;
    color: white;
}

/* User Appointment Page */
.userappointment-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.userappointment-box {
    width: 100%;
    max-width: 76%;
    margin: 50px auto;
    background-color: #E3CDE2;
    border-radius: 20px;
    text-align: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
}

.userappointment-box h2 {
    font-size: 36px;
    margin-top: 30px;
    text-align: center;
}

.add-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.add-button img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/* After appended */

#appointmentsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.appointment-info span {
    font-size: 20px;
    color: #555;
}

#noAppointment {
    font-size: 24px;
    color: rgb(99, 99, 99);
    flex: 1;
    padding-top: 150px;
}

.appointment-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.appointment-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.appointment-details .appointment-info {
    flex: 1;
    gap: 5px;
}

.appointment-details button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.appointment-details .cancel {
    background-color: #ff4d4d;
    color: white;
    margin-right: 15px;
    font-size: 16px;
}

.appointment-details .reschedule {
    background-color: #4d79ff;
    color: white;
    font-size: 16px;
}

/* User Timeslot Page */
.usertimeslot-box {
    width: 100%;
    max-width: 76%;
    margin: 50px auto;
    background-color: #E3CDE2;
    border-radius: 20px;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding-left: 50px;
    padding-right: 50px;
}
.usertimeslot-box h2{
    font-size: 36px;
    margin-top: 30px;
    text-align: center;
}
.usertimeslot-box label{
    font-size: 20px;
    font-weight: bold;
}

.usertimeslot-box select{
    display: block;
    width: 17%;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}


.timeslots {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.timeslots h3{
    grid-column: span 5;
    font-size: 20px;
    margin-bottom: 10px;
}

.timeslot {
    background-color: #ecf0f1;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    border: 1px solid transparent;
}

.timeslot.disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}
.timeslot.selected {
    border: 4px solid #8e44ad; 
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group .discard {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-group .save {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* User Medical Report Page */
.userreport-container {
    display: flex;
    height: 89vh;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.userreport-box {
    width: 100%;
    max-width: 76%;
    background-color: #E3CDE2;
    border-radius: 20px;
    text-align: left;
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-top: 20px;
}

.userreport-box h1 {
    text-align: center;
}

.userreport-box label {
    display: block;
    font-weight: bold;
    font-size: 24px;
}

.userreport-box form {
    display: flex;
    flex-direction: column;
}

#medical-report{
    margin-right: 30px;
    margin-left: 30px;
}

/* User Verification Page */
.verification-form {
    background-color: #E3CDE2;
    padding: 20px;
    margin: 20px auto;
    width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.verification-form h2 {
    margin-top: 0;
    text-align: center;
    font-size: 36px;
}

.verification-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group label {
    flex-basis: 35%;
    margin-bottom: 10px;
    text-align: left;
}

.form-group select,
.form-group input[type="number"],
.form-group input[type="text"] {
    flex-basis: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
    max-width: calc(150% - 10px);
    box-sizing: border-box; 
}



.verification-form button {
    padding: 10px;
    background-color: #8e44ad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
    width: 100px;
    font-size: 16px;
}
