/*Color Palette
#EEEEEE - Light Gray
#E3CDE2 - Light Pink
#8E699C - Purple
#333333 - Black
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Landing Page */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #EEEEEE;
    border-bottom: 6px solid #E3CDE2;
    height: 45px;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.logo {
    max-height: 30px;
    margin-right: 10px;
    padding-right: 10px;
}

.company-name {
    text-decoration: none;
    color: #333333;
    font-size: 24px;
}

.navbar {
    display: flex;
    gap: 15px;
    padding-right: 150px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-size: 20px;
}

.navbar a:hover {
    color: #8E699C;
}

.navbar .login-button {
    background-color: #8E699C;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar .login-button:hover {
    background-color: #E3CDE2;
    color: #333;
}

.banner-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     filter: brightness(80%);
}

.banner-text {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
    top: 25%;
}

.banner-text h2{
    font-size: 67px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-text p {
    margin: 0;
    position: absolute;
    top: calc(100% + 20px);
    left: 33.5%;
    transform: translateX(-50%);
    text-align: left;
    font-size: 26px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.booknow {
    position: absolute;
    top: 200px;
    left: 9.6%;
    transform: translateX(-50%);
    z-index: 2;
}

.booknow img{
    filter: brightness(100%);
}

.services {
    margin: 0;
}

.services-container {
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}

.services-container p{
    font-size: 40px;
    text-align: left;
    font-weight: bold;
}

.rectangles-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0px 10px;
    background-color: #ffffff;
}

.rectangle {
    background-color: #E3CDE2;
    color: #333333;
    padding: 20px 40px;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rectangle-icon {
    margin-bottom: 20px;
    margin-top: 20px;
}

.rectangles-section a {
    display: block;
    text-decoration: none;
}

.rectangle span{
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    justify-content: center;
    font-weight: bold;
}

.rectangle b{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    height: 50px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
}

.footer .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.footer .footer-container p {
    margin: 0;
    color: white;
}

/* Login Page //////////////////////////////////////////////////////// */
.login-container {
    display: flex;
    height: calc(100vh - 71px);
    overflow: hidden;
}

.poster-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-right: 20px;
}

.poster {
    max-height: 100vh;
    width: auto;
}

.login-box-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 350px;
}

.login-box {
    max-width: 400px;
    padding: 30px 60px;
    background-color: #E3CDE2;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto; 
}

.login-box h2{
    font-size: 20px;
}

.login-box h3 {
    margin: 10px 0;
    font-size: 36px;
}

.login-box .button {
    width: 50%;
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    background-color: #EEEEEE;
    color: #333333;
    cursor: pointer;
    border-radius: 20px;
    font-size: 36px;
}

.login-box .button:hover {
    background-color: #8E699C;
    color: #EEEEEE;
}